{% extends 'base.html' %}

{% block content %}
    <form method="POST" action="{{ url_for('handle_search') }}">
      <div class="mb-3">
          <input type="text" class="form-control" name="query" id="query" placeholder="Enter your search query" value="{{ query }}" autofocus>
      </div>
    </form>
    
    {% if results %}
        <div class="row mb-3">
            <div class="col-2 mt-2">
                <p><a href="javascript:history.back(1)">← Back</a></p>
                {% for agg in aggs %}
                    <h6 class="mt-3">{{ agg }}</h6>
                    {% for key, count in aggs[agg].items() %}
                        <form method="POST">
                            <input type="hidden" name="query" value="{{ agg|lower }}:{{key}} {{ query }}">
                            <button type="submit" class="btn btn-link btn-sm"{% if aggs[agg]|length == 1 %} disabled{% endif %}>{{ key }} ({{ count }})</button>
                        </form>
                    {% endfor %}
                {% endfor %}
            </div>

            <div class="col-10">
                <div class="row mb-3">
                    {% if from_ > 0 %}
                        <div class="col-sm-auto my-auto">
                            <a href="javascript:history.back(1)" class="btn btn-primary">← Previous page</a>
                        </div>
                    {% endif %}

                    <script>
                        function increase() {
                            var button = document.getElementById("myButton");
                            from_ = from_+ 10;
                            console.log("from_ after increase:", from_); // For debugging
                        }

                        document.getElementById("myButton").addEventListener("click", function(event) {
                            event.preventDefault(); // Prevent the default form submission
                            console.log("Next page button clicked"); // For debugging
                            increase(); // Call the increase function
                            this.closest("form").submit(); // Submit the form
                        });
                    </script>
                </div>
                {% set start_index = 0 %}
                {% set end_index = 80 %}
                {% for i in range(from_, end_index) %}
                    {% if results[i] %}
                        {% set result = results[i] %}
                        <div style="display: inline-block;">
                            <small style="display: inline-block;">
                                <input type="checkbox" id="checkbox{{ i }}" name="checkbox{{ i }}" style="margin-right: 5px;">
                                <label for="checkbox{{ i }}">{{ i+1 }}.</label>
                                {% if result._source.headings %}
                                    <h3 class="text-sm" style=" margin-left: 10px;">{{ result._source.headings[0] }}</h3>
                                {% endif %}
                            </small>
                    
                            <div>
                                Links: 
                                {% for url in result._source.additional_urls %}
                                    <a href="{{ url }}" target="_blank">{{ url }}</a>{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </div>
                                            
                        </div>
                    <br>
                    <br>
                    {% endif %}
                {% endfor %}
                
            </div>
        </div>
        <hr>
        
    {% elif request.method == 'POST' %}
        <p>No results found.</p>
    {% endif %}
{% endblock %}
